
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 4px;
    background: #6d7fcc;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.wrapper {
    display: flex;
    align-items: stretch;
} 

#sidebar {
    min-width: 250px;
    max-width: 250px;
    flex: 1;
    a[data-toggle="collapse"] {
        position: relative;
    }
    a[aria-expanded="false"], a[aria-expanded="true"] {
        &::before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\F107";
            display: block;
            position: absolute;
            right: 20px;
        }
    }
    
    a[aria-expanded="true"]::before {
        content: '\f106';
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
}

#sidebar.active {
    margin-left: -250px;
}

#avatar {
    position: relative;
    &:hover{
        .change-avatar {
            display: block;
        }
    }

    .change-avatar {
        display: none;
        cursor: pointer;
        bottom: 0;
        left: 0;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        line-height: 28px;
        a {
            color: white;
            font-weight: bold;
        }
    }
}

#profile-reset-password{
    color: white;
}
.invalid-feedback-name-category {
    color: red;
}

#content {
    width: 100%;
    min-height: 100vh;
}

.hidden {
    position: absolute;
    visibility: hidden;
}

#posts-search {
    margin-bottom: 24px;
}

// frontend
#home {
    margin-top: -1.5rem;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-color: #eeeeee;
    background-image: url('../image/bg.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    .header{
        text-align: center;
        color: #fff;
        padding-top: 150px;
        h1 {
            width: 100%;
            display: block;
        }
        small{
            width: 100%;
            display: block;
        }
    }

    article {
        background: #fff;
        display: block;
        width: 1200px;
        margin: 24px auto;
        padding: 32px;
        h3 {
            font-size: 28px;
            font-weight: bold;
        }
        .read-more {
            text-align: right;
            color: #7386D5;
            font-weight: bold;
        }
    }
    .form-search {
        width: 100%;
        text-align: center;
        form{
            display: inline-block;
        }
    }
}
.top-bar{background-color:black;min-height:40px;padding-top:5px;padding-bottom: 0px;}
.top-bar .nav-text {
    color: #00BCD4;
    display: block;
    margin-top: 5px;
}
.top-bar .social{color:#FFF;display:inline-block;padding:5px;text-decoration: none;}

.top-bar .tools{margin:0px;padding:0px;list-style-type:none;}
.top-bar .tools li{list-style-type: none;display:inline-block;}
.top-bar .tools li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    padding-top: 5px;
}

.navbar-brand {
    /* float: left; */
    height: 50px;
    padding: 3px 15px;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    z-index: 11;
    margin: 0 auto;
    right: 42%;
}


.navbar-inverse {
    background-color: #009688;
    border-color: #080808;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid #000;;
    border-radius:0px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 11px;}

